node_modules/
android/build/
android/.gradle/
android/local.properties
.git/
.gitignore
.DS_Store
./ios/react-native-wakeword.podspec

increase_package_json_version.sh
update_lib_dir.sh
upgrade_package.sh
react-native-wakeword-actually-works/